In [2]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

from getpass import getpass

In [3]:
password = getpass()

········

In [4]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [5]:
#how many distinct actors last names are there
# COUNT (how many) DISTICT last_name(different last names, doesnt exist more than once in the set)
data = pd.read_sql_query('SELECT COUNT(DISTINCT last_name) FROM actor', engine)
data.head()

   COUNT(DISTINCT last_name)
0                        121

In [7]:
# add column named day_type with the values 'weekend' and 'workday' depending on the rental day of the week
# add column to table by ALTER ADD statement
table_name = 'rental'
  
day_type_sql = 'ALTER TABLE rental ADD day_type ENUM("weekend","workday") ;'
data = pd.read_sql_query(day_type_sql,engine)
data.head()

OperationalError: (pymysql.err.OperationalError) (1060, "Duplicate column name 'day_type'")
[SQL: ALTER TABLE rental ADD day_type ENUM("weekend","workday") ;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [8]:
# get all films with ARMAGEDDON in the title
# use two different kind of quotes '' ""
# WHERE title LIKE "%%ARMAGEDDON%%" 
data = pd.read_sql_query('SELECT title FROM film WHERE title LIKE "%%ARMAGEDDON%%"', engine)
data # full list

                   title
0        ARMAGEDDON LOST
1    LADYBUGS ARMAGEDDON
2       METAL ARMAGEDDON
3    MOSQUITO ARMAGEDDON
4  STAGECOACH ARMAGEDDON
5      STEERS ARMAGEDDON

In [9]:
# get 10 longest films
# ORDER BY DESC from highest to lowest
data = pd.read_sql_query('SELECT title, length FROM film ORDER BY length DESC', engine)
data.head(10) # top 10

                title  length
0       CHICAGO NORTH     185
1      CONTROL ANTHEM     185
2      DARN FORRESTER     185
3         GANGS PRIDE     185
4           HOME PITY     185
5       MUSCLE BRIGHT     185
6        POND SEATTLE     185
7  SOLDIERS EVOLUTION     185
8   SWEET BROTHERHOOD     185
9        WORST BANGER     185

In [11]:
# how many films contain BTS content
# select special features WHERE special_features contains BTS as value
data = pd.read_sql_query('SELECT special_features,title FROM film WHERE special_features LIKE "%%Behind the Scenes%%"', engine)
data

                              special_features             title
0             Deleted Scenes,Behind the Scenes  ACADEMY DINOSAUR
1               Commentaries,Behind the Scenes  AFFAIR PREJUDICE
2               Commentaries,Behind the Scenes   ALAMO VIDEOTAPE
3             Deleted Scenes,Behind the Scenes       ALI FOREVER
4    Trailers,Deleted Scenes,Behind the Scenes    ALICE FANTASIA
..                                         ...               ...
533           Deleted Scenes,Behind the Scenes      WORST BANGER
534                 Trailers,Behind the Scenes    WRONG BEHAVIOR
535                 Trailers,Behind the Scenes    YOUNG LANGUAGE
536                 Trailers,Behind the Scenes        YOUTH KICK
537    Trailers,Commentaries,Behind the Scenes         ZORRO ARK

[538 rows x 2 columns]

In [12]:
# which kind of movies (rating) have a mean duration of more than two hours

#the one that works
good_boy = """
select rating, ROUND(AVG(length),2) as avg_duration
from film
group by rating
having avg_duration > 120
"""
#the one that doesnt work (copied from different file)
bad_boy = """
SELECT rating,ROUND((AVG(length), 2) AS avg_duration
FROM film
GROUP BY rating
HAVING (avg_duration>120)""" 
#ORDER BY avg_duration ASC

data = pd.read_sql_query(good_boy, engine)
data

  rating  avg_duration
0  PG-13        120.44

In [97]:
# rank films by length filter out the rows that have nulls or 0s in length column

data = pd.read_sql_query("""SELECT length,title
                         FROM film 
                         WHERE ISNULL(length) = FALSE or length != 0
                         ORDER BY length DESC""", engine)
data

     length                title
0       185        CHICAGO NORTH
1       185       CONTROL ANTHEM
2       185       DARN FORRESTER
3       185          GANGS PRIDE
4       185            HOME PITY
..      ...                  ...
995      46         ALIEN CENTER
996      46            IRON MOON
997      46        KWAI HOMEWARD
998      46     LABYRINTH LEAGUE
999      46  RIDGEMONT SUBMARINE

[1000 rows x 2 columns]